/* (c) gogo */
/* NOTE: If this file is parsed for variables using the delimiter 'percent', then escape with 'double-percent' */

html {
  font-size: 12pt;
	font-family: sans-serif;
	font-weight: 600;
}
body {
  margin: 0;
	background-color: lightseagreen;
	color: gainsboro;
  background-size: 8pt 8pt;
  background-image: repeating-linear-gradient(to right,lightseagreen,lightseagreen 2pt,teal 2pt,teal);
}
a {
	color: gainsboro;
}


.squared {
  border: 5pt solid gainsboro;
}
.roundTop {
  border: 5pt solid gainsboro;
  border-radius: 16pt 16pt 0 0;
}
.rounded {
  border: 5pt solid gainsboro;
  border-radius: 16pt;
}

.dark {
  background-color: darkslategrey;
}
.light {
  background-color: gainsboro;
}
.stretch {
  flex-grow: 1;
}
.clickable {
  cursor: default;
}

.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  display: flex;
  flex-direction: column;
  margin: 12pt;
  padding: 8pt;
  border-radius: 24pt;
  box-shadow: 6pt 6pt black;
  background-color: darkslategrey;
}
.pane {
  margin: 8pt;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}
.paneRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.grid {
  display: grid;
  grid-template-columns: max-content repeat(%BANK_COUNT%, 1fr);
  grid-gap: 2pt;
  padding: 2pt;
  margin: 8pt;
  width: auto;
  background-color: gainsboro;
}
.gridHeader {
  background-color: gainsboro;
  color: darkslategrey;
  text-align: center;
}
.gridCell, .gridRowHeader {
  padding: 2pt;
  background-color: darkslategrey;
  font-size: 14pt;
  height: 2em;
  line-height: 2em;
}
.gridRowHeader {
  background-color: gainsboro;
  color: darkslategrey;
}

.dropdown {
  z-index: 1;
  background-color: gainsboro;
  color: darkslategrey;
  display: none;
  font-size: 11pt;
  font-weight: 600;
}


#mainRow {
}
#mainCol {
  width: 100%%;
}
#titleRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 6pt 0;
}
#titleBlock {
  display: flex;
  flex-direction: column;
  font-size: 150%%;
}
#titleCell {
  font-size: 14pt;
}
#hostNameBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#hostNameCell {
  font-style: italic;
  font-size: 10pt;
}